//Style de los botones de catálogo, descuento y agregar y eliminar productos
.botonesPri{
    padding: 3% 0% 3% 0%; display: flex; justify-content: center;
    .botonesPri__cda{
        width: 24%; margin-left: 3.5%; margin-right: 3.5%; background-color:rgb(0, 0, 0);
        font-family: "subtitulos"; color: white; border-color:rgb(41, 41, 40); border-radius: 20px;
    }
}