.carritoClass{
    display: flex;
    justify-content: center;
    .cardCarrito{
        text-align: center;
        font-family: "subtitulos";
        background-color: rgb(183, 152, 116);
        color:antiquewhite;
        margin: 1%;
        padding: 2%;
    }
}

.totalClass{
    margin: 2%;
    font-family: "subtitulos";
    text-align: center;
    background-color: rgb(255 253 245);
    .codigoBtnClass{
        margin-bottom: 2%;
    }
}

.finalizarClass{
    text-align: center;
    .botonFinalizarClass{
        border-radius: 24px; 
        background-color: rgb(88, 88, 85); 
        color: white; 
        padding: 0.5% 1.5% 0.5% 1.5%; 
        font-family: "subtitulos";
    }
}

.finalizarBtnClass{
    border-radius: 15px; 
    background-color: rgb(139, 10, 10);
    font-family: "subtitulos";
    margin: 4% 4%;
    color: white;
    border-color: white;
    padding: 2%;
}
