.descuentoSeccionBtns{
    text-align: center;
    font-family:'Courier New';
    .descuentoLabel{
        margin-bottom: 2%;
    }
    .descuentoBtn{
        border-radius: 5px; background-color: rgb(255, 253, 245);
    }
}