//Fuentes que usamos en todo el sitio
@font-face {
    font-family: "subtitulos";
    src: url(../fuentes/Gold_Song.otf);
}

@font-face {
    font-family: "nombreProducto";
    src: url(../fuentes/LEMONMILK-Medium.otf);
}